@charset "utf-8";
/* CSS Document */

html {
	background-image: url("../images/inflicted.png");
	background-repeat: repeat;
	background-position: left top;
}

body {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
	color: #CCC;
}

.main {
	margin: 0 auto;
	padding: 0;
	width: 500px;
}

h1 {
	text-align: center;
	font-size: 4em;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow:5px 5px 5px #000;
}

h2,
p {
	text-align: center;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow:1px 2px 1px #000;
}

a {
	padding: 0;
	margin: 0 auto;
	margin-left: 5em;
	color: #39C;
}

ul {
	padding: 0;
	margin: 0;
}


li {
	padding-top: 1em;
	margin-right: 5em;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	text-shadow:1px 2px 1px #000;
	list-style-type: none;
}

.copyright {
	padding: 4em 4em 0 0;
	margin-bottom: 1em;
	text-align: right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-shadow:1px 2px 1px #000;
	clear: both;
}